@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color--: #000000;
  --buttons-color--: #ba7d03;
  --abv-text--: #ffffff;
  --buttons-hover--: #26b5fc;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: var(--bg-color--);
  color: #fff;
  margin: 0;
  height: 100vh; /* Ensures body takes up full height */
  position: relative; /* Ensure positioning of pseudo-element */
}

h1 {
  color: var(--abv-text--);
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

span{
  color: #ffdd57;
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: transparent; 
  color: var(--abv-text--);
  padding: 10px 20px;
  cursor: pointer;
  border: none; 
  transform: 0.5s ease, color 0.5s ease;
}
.head{
  text-align: left;
}

button:hover {
  color: var(--buttons-color--);
  transform: scale(1.1);
}

.container {
  padding: 0px 15px;
  position: relative; 
  z-index: 1;
}

.top-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.body-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10rem);
  gap: 30px;
  
}

/* Pseudo element para ilawm ang bg */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../assets/bg.png') no-repeat center center;
  filter: blur(3px);
  background-size: cover;
  opacity: 0.1; 
  z-index: -1; 
}

p{
  width: 25em;
  margin: 0 auto;
}

.crack{
  color: red;
}

.body-content{
  text-align: center;
}



.console-box {
  width: 25rem;
  height: 20rem;
  border: 3px double var(--lvlbuttons-color--);
  margin-left: 20px;
  padding: 10px;
  background-color: #c2bdbd46;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  line-height: 40px;
}

.console-box input {
  padding: 10px;
  font-size: 12px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.userOption{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  gap: 1rem;
}
.userOption button {
  padding: 10px;
  width: 5.5rem;
  font-size: 12px;
  cursor: pointer;
  background-color: var(--buttons-color--);
  color: white;
  border: none;
  border-radius: 5px;
}

.console-box button:hover {
  background-color: var(--buttons-color--);
}

